.cycles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
/* todos os componentes */
.cycleDots{
    display:flex;
    gap: .8rem;
    
}
/* componentes específicos */
.cycleDot{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}
.workTime{
    background-color: var(--warning);
}
.shortBreakTime{
    background-color: var(--primary);
}
.longBreakTime{
    background-color: var(--info);
}
